body{
    background-color: #eeecdb;
}
.login-page{
    padding-top: 10%;
}
.input-field{

  color:#ee4c77;
}
#Modal-0{
  background: none;
  box-shadow: none;
}
#Modal-0>.modal-footer{
  background: none;
  box-shadow: none;
}
.modal-overlay{
  background-color: #ffffff;
}
.BEM-VINDO-AO-EMPRESA {
    width: 88px;
    height: 32px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #383743;
    margin-right: auto;
    margin-left: auto;
  }

  .logo_home {
    width: 147.5px;
    height: 36px;
    object-fit: contain;
  }

  .Lorem-ipsum-dolor-si {
    width: 178.9px;
    height: 26px;
    font-family: Roboto;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -0.13px;
    text-align: center;
    color: #383743;
    margin-right: auto;
    margin-left: auto;
  }
  .E-mail {
  width: 24px;
  height: 12px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.13px;
  text-align: left;
  color: #383743;
}

.Senha {
  width: 24.5px;
  height: 12px;
  opacity: 0.5;
  font-family: Roboto;
  font-size: 9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.13px;
  text-align: left;
  color: #383743;
}

.Rectangle-26 {
  width: 162px;
  height: 26.4px;
  border-radius: 1.8px;
  font-size: 9px;
  /* background-color: var(--greeny-blue); */
}
.btn-large {
  line-height: 0px;
  /* padding: 0 28px; */
}
.input-field .prefix {
  top: 1rem;
  border-bottom: 0.5px solid #9e9e9e;
  box-shadow: #26a69a;
}

.ic_cadeado {
  width: 13px;
  height: 13px;
  object-fit: contain;
}

.Page-1 {
  width: 7.8px;
  height: 5.5px;
  border: solid 0.3px #ee4c77;
  background-color: #ee4c77;
}

.logo_nav {
  width: 117.1px;
  height: 28.5px;
  object-fit: contain;
}

.Clique-na-busca-para {
  margin-top: 20%;
  width: 273px;
  height: 19.5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.23px;
  text-align: center;
  color: #383743;
}